<div class="content">
  <nav ngbNav #nav="ngbNav" class="nav-tabs">
    <ng-container ngbNavItem>
      <a ngbNavLink>Distanzen</a>
      <ng-template ngbNavContent>
        <app-stats-tab></app-stats-tab>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>Watt</a>
      <ng-template ngbNavContent>
        <app-watt-plot></app-watt-plot>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>5k Progress</a>
      <ng-template ngbNavContent>
        <app-fivek-progress></app-fivek-progress>
      </ng-template>
    </ng-container>
  </nav>

  <div [ngbNavOutlet]="nav" class="mt-2 content"></div>
</div>
